<template name="tempChart">
  <!-- TEST -->

  <ul class="nav nav-pills">
    <input type="text" name="temperature" />
    <div class="btn-group" role="group">
      <button id="pushTemp" type="button" class="btn btn-default">Push temp</button>
      <button id="pushRandomTemp" type="button" class="btn btn-default">Push random temp</button>
    </div>
  </ul>
  <br>

    <!-- TEST
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
-->
  <!-- TEST-->

  <div id="tempChart">
    <svg style="height:360px;width:600px"/>
  </div>



</template>
