<template name="navbar">
    <!-- Top Navigation -->
    <a href="{{pathFor 'dashboard'}}" class="brand">
        <span>Telemetry</span>
        <span class="text-toggle"> Dashboard</span>
    </a><!-- /brand -->
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav-notification clearfix">
            <!--  -->
        </ul>
    <!-- End of Top Navigation -->
</template>
